<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888144007010-6qfcbg5r2p3hjsugv5sherqbk7afhug5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888144007010-6qfcbg5r2p3hjsugv5sherqbk7afhug5</string>
	<key>API_KEY</key>
	<string>AIzaSyBFc6Ln_-T6HdJDy6K89xQcrSPc_veaOgU</string>
	<key>GCM_SENDER_ID</key>
	<string>888144007010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Project_Prism</string>
	<key>PROJECT_ID</key>
	<string>app-backend-8460f</string>
	<key>STORAGE_BUCKET</key>
	<string>app-backend-8460f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888144007010:ios:92a20b774415f33f1be63b</string>
</dict>
</plist>